div{
    height: 500px;
    width: 200px;
    background-color: palevioletred;
    border-color: red;
    border-style:dotted;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    margin:100px;

}
h1{
    border: 20px solid blueviolet;
    border-top-color: aqua ;
}