p{
    color: red;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

a{
    color: rgb(0,255,0);
    text-decoration: none;
}
button{
    background-color: white;
    color: blueviolet;
}

textarea{
    color: black;
}
span{
    text-decoration: underline;
}