h1{
    text-align: end;
}

p{
    text-align: justify;
    font-weight: 200;
    line-height: 1.5;
    letter-spacing: normal ;
    font-size: 20px;
    font-family: fantasy;
}

h3{
    text-align: right;
}

h1{
    font-weight:100;
    text-decoration:overline;
}