body{
    text-align: center;
    align-items: center;
    
}
div{
    height: 100px;
    width: 500px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
}
